.Homepage{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    overflow: hidden;
    flex-direction: column;
}
.DashRoomAndChat{
    width: 90%;
    height: 86%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
}